<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monolithiot.inventory.repository.mapper.PartClusterMapper">
    <sql id="columns">
        pcl.id          pcl_id,
        pcl.name        pcl_name,
        pcl.description pcl_description,
        pcl.create_time pcl_create_time,
        pcl.update_time pcl_update_time,
        pcl.deleted     pcl_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_part_cluster as pcl
        where (pcl.deleted = false or pcl.deleted is null)
    </sql>
    <resultMap id="rm_base" type="com.monolithiot.inventory.commons.entity.PartCluster">
        <id column="pcl_id" property="id"/>
        <result column="pcl_name" property="name"/>
        <result column="pcl_description" property="description"/>
        <result column="pcl_create_time" property="createTime"/>
        <result column="pcl_update_time" property="updateTime"/>
        <result column="pcl_deleted" property="deleted"/>
    </resultMap>
</mapper>