<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monolithiot.inventory.repository.mapper.PartTypeMapper">
    <sql id="columns">
        pt.id          pt_id,
        pt.name        pt_name,
        pt.description pt_description,
        pt.create_time pt_create_time,
        pt.update_time pt_update_time,
        pt.deleted     pt_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_part_type as pt
        where (pt.deleted = false or pt.deleted is null);
    </sql>
    <resultMap id="rm_base" type="com.monolithiot.inventory.commons.entity.PartType">
        <id column="pt_id" property="id"/>
        <result column="pt_name" property="name"/>
        <result column="pt_description" property="description"/>
        <result column="pt_create_time" property="createTime"/>
        <result column="pt_update_time" property="updateTime"/>
        <result column="pt_deleted" property="deleted"/>
    </resultMap>
</mapper>