<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monolithiot.inventory.repository.mapper.StorageLocationMapper">
    <sql id="columns">
        sl.id          sl_id,
        sl.code        sl_code,
        sl.location    sl_location,
        sl.create_time sl_create_time,
        sl.update_time sl_update_time,
        sl.deleted     sl_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_storage_location as sl
        where (sl.deleted = false or sl.deleted is null)
    </sql>
    <resultMap id="rm_base" type="com.monolithiot.inventory.commons.entity.StorageLocation">
        <id column="sl_id" property="id"/>
        <result column="sl_code" property="code"/>
        <result column="sl_location" property="location"/>
        <result column="sl_create_time" property="createTime"/>
        <result column="sl_update_time" property="updateTime"/>
        <result column="sl_deleted" property="deleted"/>
    </resultMap>
</mapper>
